<!DOCTYPE html>
<html lang="en" 
  data-layout="<%= active_path === routes.layout_mini && 'mini' 
    || active_path === routes.layout_hover_view && 'hoverview'
    || active_path === routes.layout_hidden && 'hidden'
    || active_path === routes.layout_full_width && 'full-width'
    %>"
    dir="<%= active_path === routes.layout_rtl && 'rtl' %>"
    data-bs-theme="<%= active_path === routes.layout_dark && 'dark' %>"
>
  <%- include ('./head') %>

  <body class="<%= active_path === routes.layout_mini && 'mini-sidebar' %>">
    <!-- Main Wrapper -->
    <div class="main-wrapper">
      <!-- Header -->
      <%- include ('./header') %>
      <!-- /Header -->

      <!-- Sidebar -->
      <%- include ('./sidebar') %>
      <!-- /Sidebar -->

      <!-- Page Wrapper -->
      <div class="page-wrapper"><%- include('../pages/'+page_path) %></div>
      <!-- /Page Wrapper -->
    </div>
    <!-- /Main Wrapper -->

    <% if(
      active_path !== routes.layout_default 
      && active_path !== routes.layout_mini 
      && active_path !== routes.layout_hover_view
      && active_path !== routes.layout_hidden
      && active_path !== routes.layout_full_width
      && active_path !== routes.layout_rtl
      && active_path !== routes.layout_dark
    ) { %>
      <%- include('./theme-settings') %>
    <% } %>

    <%- include ('./script') %>
  </body>
</html>
