<div class="sidebar" id="sidebar">
            
    <!-- Start Logo -->
    <div class="sidebar-logo">
        <div>
            <!-- Logo Normal -->
            <a href="index" class="logo logo-normal">
                <img src="assets/img/logo.svg" alt="Logo">
            </a>

            <!-- Logo Small -->
            <a href="index" class="logo-small">
                <img src="assets/img/logo-small.svg" alt="Logo">
            </a>

            <!-- Logo Dark -->
            <a href="index" class="dark-logo">
                <img src="assets/img/logo-white.svg" alt="Logo">
            </a>
        </div>
        <button class="sidenav-toggle-btn btn border-0 p-0 active" id="toggle_btn"> 
            <i class="ti ti-arrow-left"></i>
        </button>

        <!-- Sidebar Menu Close -->
        <button class="sidebar-close">
            <i class="ti ti-x align-middle"></i>
        </button>                
    </div>
    <!-- End Logo -->

    <% if(
        active_path !== routes.doctor_dashboard
        && active_path !== routes.doctors_appointments        
        && active_path !== routes.doctors_appointment_details        
        && active_path !== routes.doctors_patient_details        
        && active_path !== routes.doctors_prescription_details        
        && active_path !== routes.online_consultations        
        && active_path !== routes.doctors_schedules        
        && active_path !== routes.doctors_prescriptions        
        && active_path !== routes.doctors_leaves        
        && active_path !== routes.doctors_reviews    
        && active_path !== routes.doctors_profile_settings
        && active_path !== routes.doctors_password_settings
        && active_path !== routes.doctors_notification_settings
        && active_path !== routes.patient_dashboard
        && active_path !== routes.patient_appointments
        && active_path !== routes.patient_appointment_details
        && active_path !== routes.patients_doctor_details
        && active_path !== routes.patient_doctors
        && active_path !== routes.patients_doctor_details
        && active_path !== routes.patient_prescriptions
        && active_path !== routes.patient_prescription_details
        && active_path !== routes.patient_invoices
        && active_path !== routes.patient_invoice_details
        && active_path !== routes.patient_profile_settings
        && active_path !== routes.patient_password_settings
        && active_path !== routes.patient_notifications_settings
    ) { %>
    <!-- Sidenav Menu -->
    <div class="sidebar-inner" data-simplebar>                
        <div id="sidebar-menu" class="sidebar-menu">
            <div class="sidebar-top shadow-sm p-2 rounded-1 mb-3 dropend">
                <a href="javascript:void(0);" class="drop-arrow-none" data-bs-toggle="dropdown" data-bs-auto-close="outside" data-bs-offset="0,22" aria-haspopup="false" aria-expanded="false">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="d-flex align-items-center">
                            <span class="avatar rounded-circle flex-shrink-0 p-2"><img src="./assets/img/icons/trustcare.svg" alt="img"></span>
                            <div class="ms-2">
                                <h6 class="fs-14 fw-semibold mb-0">Trustcare Clinic</h6>
                                <p class="fs-13 mb-0">Lasvegas</p>
                            </div>
                        </div>
                        <i class="ti ti-arrows-transfer-up"></i>                            
                    </div>
                </a>
                <div class="dropdown-menu dropdown-menu-lg">
                    <div class="p-2"> 
                        <label class="dropdown-item d-flex align-items-center justify-content-between p-1">
                            <span class="d-flex align-items-center">
                                <span class="me-2"><img src="assets/img/icons/clinic-01.svg" alt=""></span>
                                <span class="fw-semibold text-dark">CureWell Medical Hub<small class="d-block text-muted fw-normal fs-13">Ohio</small></span>
                            </span>
                            <input class="form-check-input m-0 me-2" type="checkbox">
                        </label> 
                        <label class="dropdown-item d-flex align-items-center justify-content-between p-1">
                            <span class="d-flex align-items-center">
                                <span class="me-2"><img src="assets/img/icons/clinic-02.svg" alt=""></span>
                                <span class="fw-semibold text-dark">Trustcare Clinic<small class="d-block text-muted fw-normal fs-13">Lasvegas</small></span>
                            </span>
                            <input class="form-check-input m-0 me-2" type="checkbox">
                        </label> 
                        <label class="dropdown-item d-flex align-items-center justify-content-between p-1">
                            <span class="d-flex align-items-center">
                                <span class="me-2"><img src="assets/img/icons/clinic-03.svg" alt=""></span>
                                <span class="fw-semibold text-dark">NovaCare Medical<small class="d-block text-muted fw-normal fs-13">Washington</small></span>
                            </span>
                            <input class="form-check-input m-0 me-2" type="checkbox">
                        </label> 
                        <label class="dropdown-item d-flex align-items-center justify-content-between p-1">
                            <span class="d-flex align-items-center">
                                <span class="me-2"><img src="assets/img/icons/clinic-04.svg" alt=""></span>
                                <span class="fw-semibold text-dark">Greeny Medical Clinic<small class="d-block text-muted fw-normal fs-13">Illinios</small></span>
                            </span>
                            <input class="form-check-input m-0 me-2" type="checkbox">
                        </label> 
                    </div>
                </div>
            </div>
            <ul>
                <li class="menu-title"><span>Main Menu</span></li>
                <li>
                    <ul>
                        <li class="submenu">
                            <a href="javascript:void(0);" class="<%= active_path == routes.admin || active_path == routes.doctor_dashboard || active_path == routes.patient_dashboard ? 'active subdrop' : '' %>">
                                <i class="ti ti-layout-dashboard"></i><span>Dashboard</span>
                                <span class="menu-arrow"></span>
                            </a>
                            <ul>
                                <li><a href="index" class="<%= active_path == routes.admin ? 'active' : '' %>">Admin Dashboard</a></li>
                                <li><a href="doctor-dashboard">Doctor Dashboard</a></li>
                                <li><a href="patient-dashboard" class="<%= active_path == routes.patient_dashboard ? 'active' : '' %>">Patient Dashboard</a></li>
                            </ul>
                        </li>
                        <li class="submenu">
                            <a href="javascript:void(0);" class="<%= active_path == routes.chat || active_path == routes.voice_call || active_path == routes.video_call || active_path == routes.outgoing_call || active_path == routes.incoming_call ||
                            active_path == routes.call_history || active_path == routes.calendar || active_path == routes.contacts || active_path == routes.email || active_path == routes.email_reply || active_path == routes.invoice || 
                            active_path == routes.invoice_details || active_path == routes.todo || active_path == routes.todo_list || active_path == routes.notes || active_path == routes.kanban_view || active_path == routes.file_manager || 
                            active_path == routes.social_feed || active_path == routes.search_list ? 'active subdrop' : '' %>">
                                <i class="ti ti-apps"></i><span>Applications</span>
                                <span class="menu-arrow"></span>
                            </a>
                            <ul>
                                <li><a href="chat" class="<%= active_path == routes.chat ? 'active' : '' %>">Chat</a></li>
                                <li class="submenu submenu-two">
                                    <a href="#" class="<%= active_path == routes.voice_call || active_path == routes.video_call || active_path == routes.outgoing_call || active_path == routes.incoming_call || active_path == routes.call_history ? 'active subdrop' : '' %>">
                                        Calls<span class="menu-arrow inside-submenu"></span>
                                    </a>
                                    <ul>
                                        <li><a href="voice-call" class="<%= active_path == routes.voice_call ? 'active' : '' %>">Voice Call</a></li>
                                        <li><a href="video-call" class="<%= active_path == routes.video_call ? 'active' : '' %>">Video Call</a></li>
                                        <li><a href="outgoing-call" class="<%= active_path == routes.outgoing_call ? 'active' : '' %>">Outgoing Call</a></li>
                                        <li><a href="incoming-call" class="<%= active_path == routes.incoming_call ? 'active' : '' %>">Incoming Call</a></li>
                                        <li><a href="call-history" class="<%= active_path == routes.call_history ? 'active' : '' %>">Call History</a></li>
                                    </ul>
                                </li>
                                <li><a href="calendar" class="<%= active_path == routes.calendar ? 'active' : '' %>">Calendar</a></li>
                                <li><a href="contacts" class="<%= active_path == routes.contacts ? 'active' : '' %>">Contacts</a></li>		
                                <li><a href="email" class="<%= active_path == routes.email || active_path == routes.email_reply ? 'active' : '' %>">Email</a></li>
                                <li class="submenu submenu-two">
                                    <a href="#" class="<%= active_path == routes.invoice || active_path == routes.invoice_details ? 'active subdrop' : '' %>">Invoices<span class="menu-arrow inside-submenu"></span></a>
                                    <ul>
                                        <li><a href="invoice" class="<%= active_path == routes.invoice ? 'active' : '' %>">Invoices</a></li>
                                        <li><a href="invoice-details" class="<%= active_path == routes.invoice_details ? 'active' : '' %>">Invoice Details</a></li>
                                    </ul>
                                </li>
                                <li><a href="todo" class="<%= active_path == routes.todo || active_path == routes.todo_list ? 'active' : '' %>">To Do</a></li>
                                <li><a href="notes" class="<%= active_path == routes.notes ? 'active' : '' %>">Notes</a></li>
                                <li><a href="kanban-view" class="<%= active_path == routes.kanban_view ? 'active' : '' %>">Kanban Board</a></li>
                                <li><a href="file-manager" class="<%= active_path == routes.file_manager ? 'active' : '' %>">File Manager</a></li>
                                <li><a href="social-feed" class="<%= active_path == routes.social_feed ? 'active' : '' %>">Social Feed</a></li>
                                <li><a href="search-list" class="<%= active_path == routes.search_list ? 'active' : '' %>">Search Result</a></li>
                            </ul>
                        </li>
                        <li class="submenu">
                            <a href="javascript:void(0);" class="<%= active_path == routes.layout_default || active_path == routes.layout_mini || active_path == routes.layout_hover_view || active_path == routes.layout_hidden || active_path == routes.layout_full_width ||
                                active_path == routes.layout_rtl || active_path == routes.layout_dark ? 'active subdrop' : '' %>">
                                <i class="ti ti-layout-sidebar"></i><span>Layouts</span>
                                <span class="menu-arrow"></span>
                            </a>
                            <ul>
                                <li><a href="layout-default" class="<%= active_path == routes.layout_default ? 'active' : '' %>">Default</a></li>
                                <li><a href="layout-mini" class="<%= active_path == routes.layout_mini ? 'active' : '' %>">Mini</a></li>
                                <li><a href="layout-hover-view" class="<%= active_path == routes.layout_hover_view ? 'active' : '' %>">Hover View</a></li>
                                <li><a href="layout-hidden" class="<%= active_path == routes.layout_hidden ? 'active' : '' %>">Hidden</a></li>
                                <li><a href="layout-full-width" class="<%= active_path == routes.layout_full_width ? 'active' : '' %>">Full Width</a></li>
                                <li><a href="layout-rtl" class="<%= active_path == routes.layout_rtl ? 'active' : '' %>">RTL</a></li>
                                <li><a href="layout-dark" class="<%= active_path == routes.layout_dark ? 'active' : '' %>">Dark</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="menu-title"><span>Clinic</span></li>
                <li>
                    <ul>
                        <li class="submenu">
                            <a href="javascript:void(0);" class="<%= active_path == routes.doctors || active_path == routes.doctors_list || active_path == routes.doctor_details || active_path == routes.add_doctor ||
                                active_path == routes.doctor_schedule || active_path == routes.edit_doctor ? 'active subdrop' : '' %>">
                                <i class="ti ti-user-plus"></i><span>Doctors</span>
                                <span class="menu-arrow"></span>
                            </a>
                            <ul>
                                <li><a href="doctors" class="<%= active_path == routes.doctors || active_path == routes.doctors_list || active_path == routes.edit_doctor ? 'active' : '' %>">Doctors</a></li>
                                <li><a href="doctor-details" class="<%= active_path == routes.doctor_details ? 'active' : '' %>">Doctor Details</a></li>
                                <li><a href="add-doctor" class="<%= active_path == routes.add_doctor ? 'active' : '' %>">Add Doctor</a></li>
                                <li><a href="doctor-schedule" class="<%= active_path == routes.doctor_schedule ? 'active' : '' %>">Doctor Schedule</a></li>
                            </ul>
                        </li>
                        <li class="submenu">
                            <a href="javascript:void(0);" class="<%= active_path == routes.patients || active_path == routes.patients_grid || active_path == routes.patient_details || active_path == routes.edit_patient || active_path == routes.create_patient ? 'active subdrop' : '' %>">
                                <i class="ti ti-user-heart"></i><span>Patients</span>
                                <span class="menu-arrow"></span>
                            </a>
                            <ul>
                                <li><a href="patients" class="<%= active_path == routes.patients || active_path == routes.patients_grid || active_path == routes.edit_patient ? 'active' : '' %>">Patients</a></li>
                                <li><a href="patient-details" class="<%= active_path == routes.patient_details ? 'active' : '' %>">Patient Details</a></li>
                                <li><a href="create-patient" class="<%= active_path == routes.create_patient ? 'active' : '' %>">Create Patient</a></li>
                            </ul>
                        </li>
                        <li class="submenu">
                            <a href="javascript:void(0);" class="<%= active_path == routes.appointments || active_path == routes.new_appointment || active_path == routes.appointment_calendar ? 'active subdrop' : '' %>">
                                <i class="ti ti-calendar-check"></i><span>Appointments</span>
                                <span class="menu-arrow"></span>
                            </a>
                            <ul>
                                <li><a href="appointments" class="<%= active_path == routes.appointments ? 'active' : '' %>">Appointments</a></li>
                                <li><a href="new-appointment" class="<%= active_path == routes.new_appointment ? 'active' : '' %>">New Appointment</a></li>
                                <li><a href="appointment-calendar" class="<%= active_path == routes.appointment_calendar ? 'active' : '' %>">Calendar</a></li>
                            </ul>
                        </li>
                        <li class="<%= active_path == routes.locations ? 'active' : '' %>">
                            <a href="locations">
                                <i class="ti ti-map-pin"></i><span>Locations</span>
                            </a>
                        </li>  
                        <li class="<%= active_path == routes.services ? 'active' : '' %>">
                            <a href="services">
                                <i class="ti ti-user-cog"></i><span>Services</span>
                            </a>
                        </li>  
                        <li class="<%= active_path == routes.specializations ? 'active' : '' %>">
                            <a href="specializations">
                                <i class="ti ti-user-shield"></i><span>Specializations</span>
                            </a>
                        </li> 
                        <li class="<%= active_path == routes.assets_list ? 'active' : '' %>">
                            <a href="assets-list">
                                <i class="ti ti-asset"></i><span>Assets</span>
                            </a>
                        </li>  
                        <li class="<%= active_path == routes.activities ? 'active' : '' %>">
                            <a href="activities">
                                <i class="ti ti-activity"></i><span>Activities</span>
                            </a>
                        </li> 
                        <li class="<%= active_path == routes.messages ? 'active' : '' %>">
                            <a href="messages">
                                <i class="ti ti-messages"></i><span>Messages</span>
                            </a>
                        </li>                           
                    </ul>
                </li>
                <li class="menu-title"><span>HRM</span></li>
                <li>
                    <ul>
                        <li class="<%= active_path == routes.staffs ? 'active' : '' %>">
                            <a href="staffs">
                                <i class="ti ti-users-group"></i><span>Staffs</span>
                            </a>
                        </li>
                        <li class="<%= active_path == routes.hrm_departments ? 'active' : '' %>">
                            <a href="hrm-departments">
                                <i class="ti ti-building-bank"></i><span>Departments</span>
                            </a>
                        </li>
                        <li class="<%= active_path == routes.designation ? 'active' : '' %>">
                            <a href="designation">
                                <i class="ti ti-user-cog"></i><span>Designation</span>
                            </a>
                        </li>
                        <li class="<%= active_path == routes.attendance ? 'active' : '' %>">
                            <a href="attendance">
                                <i class="ti ti-user-check"></i><span>Attendance</span>
                            </a>
                        </li>
                        <li class="submenu">
                            <a href="javascript:void(0);" class="<%= active_path == routes.leaves || active_path == routes.leave_type ? 'active subdrop' : '' %>">
                                <i class="ti ti-users-minus"></i><span>Leaves</span>
                                <span class="menu-arrow"></span>
                            </a>
                            <ul>
                                <li><a href="leaves" class="<%= active_path == routes.leaves ? 'active' : '' %>">Leaves</a></li>
                                <li><a href="leave-type" class="<%= active_path == routes.leave_type ? 'active' : '' %>">Leave Type</a></li>
                            </ul>
                        </li>
                        <li class="<%= active_path == routes.holidays ? 'active' : '' %>">
                            <a href="holidays">
                                <i class="ti ti-home-exclamation"></i><span>Holidays</span>
                            </a>
                        </li>
                        <li class="<%= active_path == routes.payroll ? 'active' : '' %>">
                            <a href="payroll">
                                <i class="ti ti-coin"></i><span>Payroll</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="menu-title"><span>Finance & Accounts</span></li>
                <li>
                    <ul>
                        <li class="submenu">
                            <a href="javascript:void(0);" class="<%= active_path == routes.expenses || active_path == routes.expense_category ? 'active subdrop' : '' %>">
                                <i class="ti ti-credit-card"></i><span>Expenses</span>
                                <span class="menu-arrow"></span>
                            </a>
                            <ul>
                                <li><a href="expenses" class="<%= active_path == routes.expenses ? 'active' : '' %>">Expenses</a></li>
                                <li><a href="expense-category" class="<%= active_path == routes.expense_category ? 'active' : '' %>">Expense Category</a></li>
                            </ul>
                        </li>
                        <li class="<%= active_path == routes.income ? 'active' : '' %>">
                            <a href="income">
                                <i class="ti ti-coins"></i><span>Income</span>
                            </a>
                        </li>
                        <li class="submenu">
                            <a href="javascript:void(0);" class="<%= active_path == routes.invoices || active_path == routes.invoices_details || active_path == routes.add_invoices || active_path == routes.edit_invoices ? 'active subdrop' : '' %>">
                                <i class="ti ti-file-invoice"></i><span>Invoices</span>
                                <span class="menu-arrow"></span>
                            </a>
                            <ul>
                                <li><a href="invoices" class="<%= active_path == routes.invoices || active_path == routes.add_invoices || active_path == routes.edit_invoices ? 'active' : '' %>">Invoices</a></li>
                                <li><a href="invoices-details" class="<%= active_path == routes.invoices_details ? 'active' : '' %>">Invoice Details</a></li>
                            </ul>
                        </li>
                        <li class="<%= active_path == routes.payments ? 'active' : '' %>">
                            <a href="payments">
                                <i class="ti ti-cards"></i><span>Payments</span>
                            </a>
                        </li>
                        <li class="<%= active_path == routes.transactions ? 'active' : '' %>">
                            <a href="transactions">
                                <i class="ti ti-transition-right"></i><span>Transactions</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="menu-title"><span>Administration</span></li>
                <li>
                    <ul>
                        <li class="submenu">
                            <a href="javascript:void(0);" class="<%= active_path == routes.roles_and_permissions || active_path == routes.permissions || active_path == routes.delete_account_request ? 'active subdrop' : '' %>">
                                <i class="ti ti-user"></i><span>Users</span>
                                <span class="menu-arrow"></span>
                            </a>
                            <ul>
                                <li><a href="roles-and-permissions" class="<%= active_path == routes.roles_and_permissions || active_path == routes.permissions ? 'active' : '' %>">Roles & Permissions</a></li>
                                <li><a href="delete-account-request" class="<%= active_path == routes.delete_account_request ? 'active' : '' %>">Delete Account Request</a></li>
                            </ul>
                        </li>
                        <li class="submenu">
                            <a href="javascript:void(0);" class="<%= active_path == routes.income_report || active_path == routes.expense_report || active_path == routes.profit_and_loss || active_path == routes.appointment_report || active_path == routes.patient_report ? 'active subdrop' : '' %>">
                                <i class="ti ti-report"></i><span>Reports</span>
                                <span class="menu-arrow"></span>
                            </a>
                            <ul>
                                <li><a href="income-report" class="<%= active_path == routes.income_report ? 'active' : '' %>">Income Report</a></li>
                                <li><a href="expense-report" class="<%= active_path == routes.expense_report ? 'active' : '' %>">Expense Report</a></li>
                                <li><a href="profit-and-loss" class="<%= active_path == routes.profit_and_loss ? 'active' : '' %>">Profit & Loss</a></li>
                                <li><a href="appointment-report" class="<%= active_path == routes.appointment_report ? 'active' : '' %>">Appointment Report</a></li>
                                <li><a href="patient-report" class="<%= active_path == routes.patient_report ? 'active' : '' %>">Patient Report</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="menu-title"><span>Content</span></li>
                <li>
                    <ul>
                        <li class="<%= active_path == routes.pages || active_path == routes.add_page || active_path == routes.edit_page ? 'active' : '' %>">
                            <a href="pages">
                                <i class="ti ti-brand-pagekit"></i><span>Pages</span>
                            </a>
                        </li>
                        <li class="submenu">
                            <a href="javascript:void(0);" class="<%= active_path == routes.add_blog || active_path == routes.edit_blog || active_path == routes.blogs || active_path == routes.blog_categories || active_path == routes.blog_comments ? 'active subdrop' : '' %>">
                                <i class="ti ti-brand-blogger"></i><span>Blogs</span>
                                <span class="menu-arrow"></span>
                            </a>
                            <ul>
                                <li><a href="add-blog" class="<%= active_path == routes.add_blog ? 'active' : '' %>">Add Blog</a></li>
                                <li><a href="blogs" class="<%= active_path == routes.blogs || active_path == routes.edit_blog ? 'active' : '' %>">Blogs</a></li>
                                <li><a href="blog-categories" class="<%= active_path == routes.blog_categories ? 'active' : '' %>">Blog Categories</a></li>
                                <li><a href="blog-comments" class="<%= active_path == routes.blog_comments ? 'active' : '' %>">Blog Comments</a></li>
                            </ul>
                        </li>
                        <li class="submenu">
                            <a href="javascript:void(0);" class="<%= active_path == routes.countries || active_path == routes.states || active_path == routes.cities ? 'active subdrop' : '' %>">
                                <i class="ti ti-map-pins"></i><span>Location</span>
                                <span class="menu-arrow"></span>
                            </a>
                            <ul>
                                <li><a href="countries" class="<%= active_path == routes.countries ? 'active' : '' %>">Countries</a></li>
                                <li><a href="states" class="<%= active_path == routes.states ? 'active' : '' %>">States</a></li>
                                <li><a href="cities" class="<%= active_path == routes.cities ? 'active' : '' %>">Cities</a></li>
                            </ul>
                        </li>
                        <li class="<%= active_path == routes.testimonials ? 'active' : '' %>">
                            <a href="testimonials">
                                <i class="ti ti-brand-wechat"></i><span>Testimonials</span>
                            </a>
                        </li>
                        <li class="<%= active_path == routes.faq ? 'active' : '' %>">
                            <a href="faq">
                                <i class="ti ti-question-mark"></i><span>FAQ</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="menu-title"><span>Support</span></li>
                <li>
                    <ul>
                        <li class="<%= active_path == routes.contact_messages ? 'active' : '' %>">
                            <a href="contact-messages">
                                <i class="ti ti-message-dots"></i><span>Contact Messages</span>
                            </a>
                        </li>
                        <li class="<%= active_path == routes.tickets ? 'active' : '' %>">
                            <a href="tickets">
                                <i class="ti ti-ticket"></i><span>Tickets</span>
                            </a>
                        </li>
                        <li class="<%= active_path == routes.announcements ? 'active' : '' %>">
                            <a href="announcements">
                                <i class="ti ti-speakerphone"></i><span>Announcements</span>
                            </a>
                        </li>
                        <li class="<%= active_path == routes.newsletters ? 'active' : '' %>">
                            <a href="newsletters">
                                <i class="ti ti-mail-bolt"></i><span>Newsletters</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="menu-title"><span>Pages</span></li>
                <li>
                    <ul>
                        <li class="<%= active_path == routes.starter ? 'active' : '' %>">
                            <a href="starter">
                                <i class="ti ti-player-play"></i><span>Starter</span>
                            </a>
                        </li>
                        <li class="<%= active_path == routes.profile ? 'active' : '' %>">
                            <a href="profile">
                                <i class="ti ti-user-circle"></i><span>Profile</span>
                            </a>
                        </li>
                        <li class="<%= active_path == routes.gallery ? 'active' : '' %>">
                            <a href="gallery">
                                <i class="ti ti-photo"></i><span>Gallery</span>
                            </a>
                        </li>
                        <li class="<%= active_path == routes.timeline ? 'active' : '' %>">
                            <a href="timeline">
                                <i class="ti ti-timeline-event-text"></i><span>Timeline</span>
                            </a>
                        </li>
                        <li class="<%= active_path == routes.pricing ? 'active' : '' %>">
                            <a href="pricing">
                                <i class="ti ti-tag"></i><span>Pricing</span>
                            </a>
                        </li>
                        <li>
                            <a href="coming-soon">
                                <i class="ti ti-sparkles"></i><span>Coming Soon</span>
                            </a>
                        </li>
                        <li>
                            <a href="under-maintenance">
                                <i class="ti ti-settings-down"></i><span>Under Maintenance</span>
                            </a>
                        </li>
                        <li class="<%= active_path == routes.privacy_policy ? 'active' : '' %>">
                            <a href="privacy-policy">
                                <i class="ti ti-shield-check"></i><span>Privacy Policy</span>
                            </a>
                        </li>
                        <li class="<%= active_path == routes.terms_and_conditions ? 'active' : '' %>">
                            <a href="terms-and-conditions">
                                <i class="ti ti-file-time"></i><span>Terms & Conditions</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="menu-title"><span>Authentication</span></li>
                <li>
                    <ul>
                        <li class="submenu">
                            <a href="javascript:void(0);">
                                <i class="ti ti-login"></i><span>Login</span>
                                <span class="menu-arrow"></span>
                            </a>
                            <ul>
                                <li><a href="login-cover">Cover</a></li>
                                <li><a href="login-illustration">Illustration</a></li>
                                <li><a href="login-basic">Basic</a></li>
                            </ul>
                        </li>
                        <li class="submenu">
                            <a href="javascript:void(0);">
                                <i class="ti ti-file-pencil"></i><span>Register</span>
                                <span class="menu-arrow"></span>
                            </a>
                            <ul>
                                <li><a href="register-cover">Cover</a></li>
                                <li><a href="register-illustration">Illustration</a></li>
                                <li><a href="register-basic">Basic</a></li>
                            </ul>
                        </li>
                        <li class="submenu">
                            <a href="javascript:void(0);">
                                <i class="ti ti-lock-exclamation"></i><span>Forgot Password</span>
                                <span class="menu-arrow"></span>
                            </a>
                            <ul>
                                <li><a href="forgot-password-cover">Cover</a></li>
                                <li><a href="forgot-password-illustration">Illustration</a></li>
                                <li><a href="forgot-password-basic">Basic</a></li>
                            </ul>
                        </li>
                        <li class="submenu">
                            <a href="javascript:void(0);">
                                <i class="ti ti-restore"></i><span>Reset Password</span>
                                <span class="menu-arrow"></span>
                            </a>
                            <ul>
                                <li><a href="reset-password-cover">Cover</a></li>
                                <li><a href="reset-password-illustration">Illustration</a></li>
                                <li><a href="reset-password-basic">Basic</a></li>
                            </ul>
                        </li>
                        <li class="submenu">
                            <a href="javascript:void(0);">
                                <i class="ti ti-mail-check"></i><span>Email Verification</span>
                                <span class="menu-arrow"></span>
                            </a>
                            <ul>
                                <li><a href="email-verification-cover">Cover</a></li>
                                <li><a href="email-verification-illustration">Illustration</a></li>
                                <li><a href="email-verification-basic">Basic</a></li>
                            </ul>
                        </li>
                        <li class="submenu">
                            <a href="javascript:void(0);">
                                <i class="ti ti-discount-check"></i><span>2 Step Verification</span>
                                <span class="menu-arrow"></span>
                            </a>
                            <ul>
                                <li><a href="two-step-verification-cover">Cover</a></li>
                                <li><a href="two-step-verification-illustration">Illustration</a></li>
                                <li><a href="two-step-verification-basic">Basic</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="lock-screen">
                                <i class="ti ti-lock"></i><span>Lock Screen</span>
                            </a>
                        </li>
                        <li class="submenu">
                            <a href="javascript:void(0);">
                                <i class="ti ti-exclamation-mark-off"></i><span>Error Pages</span>
                                <span class="menu-arrow"></span>
                            </a>
                            <ul>
                                <li><a href="error-404">404 Error</a></li>
                                <li><a href="error-500">500 Error</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="menu-title"><span>Settings</span></li>
                <li>
                    <ul>
                        <li class="submenu">
                            <a href="javascript:void(0);" class="<%= active_path == routes.account_settings || active_path == routes.profile_settings || active_path == routes.security_settings || active_path == routes.notifications_settings || active_path == routes.integrations_settings ? 'active subdrop' : '' %>">
                                <i class="ti ti-user-cog"></i><span>Account Settings</span>
                                <span class="menu-arrow"></span>
                            </a>
                            <ul>
                                <li><a href="profile-settings" class="<%= active_path == routes.profile_settings ? 'active' : '' %>">Profile</a></li>
                                <li><a href="security-settings" class="<%= active_path == routes.security_settings ? 'active' : '' %>">Security</a></li>
                                <li><a href="notifications-settings" class="<%= active_path == routes.notifications_settings ? 'active' : '' %>">Notifications</a></li>
                                <li><a href="integrations-settings" class="<%= active_path == routes.integrations_settings ? 'active' : '' %>">Integrations</a></li>
                            </ul>
                        </li>
                        <li class="submenu">
                            <a href="javascript:void(0);" class="<%= active_path == routes.organization_settings || active_path == routes.localization_settings || active_path == routes.prefixes_settings || active_path == routes.seo_setup_settings || active_path == routes.language_settings || active_path == routes.maintenance_mode_settings ||
                                active_path == routes.login_and_register_settings || active_path == routes.preferences_settings || active_path == routes.language_settings2 || active_path == routes.language_settings3 ? 'active subdrop' : '' %>">
                                <i class="ti ti-world-cog"></i><span>Website Settings</span>
                                <span class="menu-arrow"></span>
                            </a>
                            <ul>
                                <li><a href="organization-settings" class="<%= active_path == routes.organization_settings ? 'active' : '' %>">Organization</a></li>
                                <li><a href="localization-settings" class="<%= active_path == routes.localization_settings ? 'active' : '' %>">Localization</a></li>
                                <li><a href="prefixes-settings" class="<%= active_path == routes.prefixes_settings ? 'active' : '' %>">Prefixes</a></li>
                                <li><a href="seo-setup-settings" class="<%= active_path == routes.seo_setup_settings ? 'active' : '' %>">SEO Setup</a></li>
                                <li><a href="language-settings" class="<%= active_path == routes.language_settings || active_path == routes.language_settings2 || active_path == routes.language_settings3 ? 'active' : '' %>">Language</a></li>
                                <li><a href="maintenance-mode-settings" class="<%= active_path == routes.maintenance_mode_settings ? 'active' : '' %>">Maintenance Mode</a></li>
                                <li><a href="login-and-register-settings" class="<%= active_path == routes.login_and_register_settings ? 'active' : '' %>">Login & Register</a></li>
                                <li><a href="preferences-settings" class="<%= active_path == routes.preferences_settings ? 'active' : '' %>">Preferences</a></li>
                            </ul>
                        </li>
                        <li class="submenu">
                            <a href="javascript:void(0);" class="<%= active_path == routes.appointment_settings || active_path == routes.working_hours_settings || active_path == routes.cancellation_reason_settings ? 'active subdrop' : '' %>">
                                <i class="ti ti-building-hospital"></i><span>Clinic Settings</span>
                                <span class="menu-arrow"></span>
                            </a>
                            <ul>
                                <li><a href="appointment-settings" class="<%= active_path == routes.appointment_settings ? 'active' : '' %>">Appointment</a></li>
                                <li><a href="working-hours-settings" class="<%= active_path == routes.working_hours_settings ? 'active' : '' %>">Working Hours</a></li>
                                <li><a href="cancellation-reason-settings" class="<%= active_path == routes.cancellation_reason_settings ? 'active' : '' %>">Cancellation Reason</a></li>
                            </ul>
                        </li>
                        <li class="submenu">
                            <a href="javascript:void(0);" class="<%= active_path == routes.invoice_settings || active_path == routes.invoice_templates_settings || active_path == routes.signatures_settings || active_path == routes.custom_fields_settings ? 'active subdrop' : '' %>">
                                <i class="ti ti-device-mobile-cog"></i><span>App Settings</span>
                                <span class="menu-arrow"></span>
                            </a>
                            <ul>
                                <li><a href="invoice-settings" class="<%= active_path == routes.invoice_settings ? 'active' : '' %>">Invoice Settings</a></li>
                                <li><a href="invoice-templates-settings" class="<%= active_path == routes.invoice_templates_settings ? 'active' : '' %>">Invoice Templates</a></li>
                                <li><a href="signatures-settings" class="<%= active_path == routes.signatures_settings ? 'active' : '' %>">Signatures</a></li>
                                <li><a href="custom-fields-settings" class="<%= active_path == routes.custom_fields_settings ? 'active' : '' %>">Custom Fields</a></li>
                            </ul>
                        </li>
                        <li class="submenu">
                            <a href="javascript:void(0);" class="<%= active_path == routes.email_settings || active_path == routes.email_templates_settings || active_path == routes.sms_gateways_settings || active_path == routes.sms_templates_settings || 
                                active_path == routes.gdpr_cookies_settings ? 'active subdrop' : '' %>">
                                <i class="ti ti-device-desktop-cog"></i><span>System Settings</span>
                                <span class="menu-arrow"></span>
                            </a>
                            <ul>
                                <li><a href="email-settings" class="<%= active_path == routes.email_settings ? 'active' : '' %>">Email Settings</a></li>
                                <li><a href="email-templates-settings" class="<%= active_path == routes.email_templates_settings ? 'active' : '' %>">Email Templates</a></li>
                                <li><a href="sms-gateways-settings" class="<%= active_path == routes.sms_gateways_settings ? 'active' : '' %>">SMS Gateways</a></li>
                                <li><a href="sms-templates-settings" class="<%= active_path == routes.sms_templates_settings ? 'active' : '' %>">SMS Templates</a></li>
                                <li><a href="gdpr-cookies-settings" class="<%= active_path == routes.gdpr_cookies_settings ? 'active' : '' %>">GDPR Cookies</a></li>
                            </ul>
                        </li>
                        <li class="submenu">
                            <a href="javascript:void(0);" class="<%= active_path == routes.payment_methods_settings || active_path == routes.bank_accounts_settings || active_path == routes.tax_rates_settings || active_path == routes.currencies_settings ? 'active subdrop' : '' %>">
                                <i class="ti ti-settings-dollar"></i><span>Finance & Accounts</span>
                                <span class="menu-arrow"></span>
                            </a>
                            <ul>
                                <li><a href="payment-methods-settings" class="<%= active_path == routes.payment_methods_settings ? 'active' : '' %>">Payment Methods</a></li>
                                <li><a href="bank-accounts-settings" class="<%= active_path == routes.bank_accounts_settings ? 'active' : '' %>">Bank Accounts</a></li>
                                <li><a href="tax-rates-settings" class="<%= active_path == routes.tax_rates_settings ? 'active' : '' %>">Tax Rates</a></li>
                                <li><a href="currencies-settings" class="<%= active_path == routes.currencies_settings ? 'active' : '' %>">Currencies</a></li>
                            </ul>
                        </li>
                        <li class="submenu">
                            <a href="javascript:void(0);" class="<%= active_path == routes.sitemap_settings || active_path == routes.clear_cache_settings || active_path == routes.storage_settings || active_path == routes.cronjob_settings || active_path == routes.ban_ip_address_settings ||
                                active_path == routes.system_backup_settings || active_path == routes.database_backup_settings || active_path == routes.system_update ? 'active subdrop' : '' %>">
                                <i class="ti ti-settings-2"></i><span>Other Settings</span>
                                <span class="menu-arrow"></span>
                            </a>
                            <ul>
                                <li><a href="sitemap-settings" class="<%= active_path == routes.sitemap_settings ? 'active' : '' %>">Sitemap</a></li>
                                <li><a href="clear-cache-settings" class="<%= active_path == routes.clear_cache_settings ? 'active' : '' %>">Clear Cache</a></li>
                                <li><a href="storage-settings" class="<%= active_path == routes.storage_settings ? 'active' : '' %>">Storage</a></li>
                                <li><a href="cronjob-settings" class="<%= active_path == routes.cronjob_settings ? 'active' : '' %>">Cronjob</a></li>
                                <li><a href="ban-ip-address-settings" class="<%= active_path == routes.ban_ip_address_settings ? 'active' : '' %>">Ban IP Address</a></li>
                                <li><a href="system-backup-settings" class="<%= active_path == routes.system_backup_settings ? 'active' : '' %>">System Backup</a></li>
                                <li><a href="database-backup-settings" class="<%= active_path == routes.database_backup_settings ? 'active' : '' %>">Database Backup</a></li>
                                <li><a href="system-update" class="<%= active_path == routes.system_update ? 'active' : '' %>">System Update</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="menu-title"><span>UI Interface</span></li>
                <li>
                    <ul>
                        <li class="submenu">
                            <a href="javascript:void(0);" class="<%= active_path == routes.ui_accordion || active_path == routes.ui_alerts || active_path == routes.ui_avatar || active_path == routes.ui_badges || active_path == routes.ui_breadcrumb || active_path == routes.ui_buttons ||
                                active_path == routes.ui_buttons_group || active_path == routes.ui_cards || active_path == routes.ui_carousel || active_path == routes.ui_collapse || active_path == routes.ui_dropdowns || active_path == routes.ui_ratio || active_path == routes.ui_grid || 
                                active_path == routes.ui_images || active_path == routes.ui_links || active_path == routes.ui_list_group || active_path == routes.ui_modals || active_path == routes.ui_offcanvas || active_path == routes.ui_pagination || active_path == routes.ui_placeholders || 
                                active_path == routes.ui_popovers || active_path == routes.ui_progress || active_path == routes.ui_scrollspy || active_path == routes.ui_spinner || active_path == routes.ui_nav_tabs || active_path == routes.ui_toasts || active_path == routes.ui_tooltips ||
                                active_path == routes.ui_typography || active_path == routes.ui_utilities ? 'active subdrop' : '' %>">
                                <i class="ti ti-chart-pie"></i><span>Base UI</span><span class="menu-arrow"></span>
                            </a>
                            <ul>
                                <li><a href="ui-accordion" class="<%= active_path == routes.ui_accordion ? 'active' : '' %>">Accordion</a></li>
                                <li><a href="ui-alerts" class="<%= active_path == routes.ui_alerts ? 'active' : '' %>">Alerts</a></li>
                                <li><a href="ui-avatar" class="<%= active_path == routes.ui_avatar ? 'active' : '' %>">Avatar</a></li>
                                <li><a href="ui-badges" class="<%= active_path == routes.ui_badges ? 'active' : '' %>">Badges</a></li>
                                <li><a href="ui-breadcrumb" class="<%= active_path == routes.ui_breadcrumb ? 'active' : '' %>">Breadcrumb</a></li>
                                <li><a href="ui-buttons" class="<%= active_path == routes.ui_buttons ? 'active' : '' %>">Buttons</a></li>
                                <li><a href="ui-buttons-group" class="<%= active_path == routes.ui_buttons_group ? 'active' : '' %>">Button Group</a></li>
                                <li><a href="ui-cards" class="<%= active_path == routes.ui_cards ? 'active' : '' %>">Card</a></li>
                                <li><a href="ui-carousel" class="<%= active_path == routes.ui_carousel ? 'active' : '' %>">Carousel</a></li>
                                <li><a href="ui-collapse" class="<%= active_path == routes.ui_collapse ? 'active' : '' %>">Collapse</a></li>
                                <li><a href="ui-dropdowns" class="<%= active_path == routes.ui_dropdowns ? 'active' : '' %>">Dropdowns</a></li>
                                <li><a href="ui-ratio" class="<%= active_path == routes.ui_ratio ? 'active' : '' %>">Ratio</a></li>
                                <li><a href="ui-grid" class="<%= active_path == routes.ui_grid ? 'active' : '' %>">Grid</a></li>
                                <li><a href="ui-images" class="<%= active_path == routes.ui_images ? 'active' : '' %>">Images</a></li>
                                <li><a href="ui-links" class="<%= active_path == routes.ui_links ? 'active' : '' %>">Links</a></li>
                                <li><a href="ui-list-group" class="<%= active_path == routes.ui_list_group ? 'active' : '' %>">List Group</a></li>
                                <li><a href="ui-modals" class="<%= active_path == routes.ui_modals ? 'active' : '' %>">Modals</a></li>
                                <li><a href="ui-offcanvas" class="<%= active_path == routes.ui_offcanvas ? 'active' : '' %>">Offcanvas</a></li>
                                <li><a href="ui-pagination" class="<%= active_path == routes.ui_pagination ? 'active' : '' %>">Pagination</a></li>
                                <li><a href="ui-placeholders" class="<%= active_path == routes.ui_placeholders ? 'active' : '' %>">Placeholders</a></li>
                                <li><a href="ui-popovers" class="<%= active_path == routes.ui_popovers ? 'active' : '' %>">Popovers</a></li>
                                <li><a href="ui-progress" class="<%= active_path == routes.ui_progress ? 'active' : '' %>">Progress</a></li>
                                <li><a href="ui-scrollspy" class="<%= active_path == routes.ui_scrollspy ? 'active' : '' %>">Scrollspy</a></li>
                                <li><a href="ui-spinner" class="<%= active_path == routes.ui_spinner ? 'active' : '' %>">Spinner</a></li>
                                <li><a href="ui-nav-tabs" class="<%= active_path == routes.ui_nav_tabs ? 'active' : '' %>">Tabs</a></li>
                                <li><a href="ui-toasts" class="<%= active_path == routes.ui_toasts ? 'active' : '' %>">Toasts</a></li>
                                <li><a href="ui-tooltips" class="<%= active_path == routes.ui_tooltips ? 'active' : '' %>">Tooltips</a></li>
                                <li><a href="ui-typography" class="<%= active_path == routes.ui_typography ? 'active' : '' %>">Typography</a></li>
                                <li><a href="ui-utilities" class="<%= active_path == routes.ui_utilities ? 'active' : '' %>">Utilities</a></li>
                            </ul>
                        </li>
                        <li class="submenu">
                            <a href="javascript:void(0);" class="<%= active_path == routes.extended_dragula || active_path == routes.ui_clipboard || active_path == routes.ui_rangeslider || active_path == routes.ui_sweetalerts || active_path == routes.ui_lightbox || 
                            active_path == routes.ui_rating || active_path == routes.ui_scrollbar ? 'active subdrop' : '' %>">
                                <i class="ti ti-radar"></i><span>Advanced UI</span><span class="menu-arrow"></span>
                            </a>
                            <ul>
                                <li><a href="extended-dragula" class="<%= active_path == routes.extended_dragula ? 'active' : '' %>">Dragula</a></li>
                                <li><a href="ui-clipboard" class="<%= active_path == routes.ui_clipboard ? 'active' : '' %>">Clipboard</a></li>
                                <li><a href="ui-rangeslider" class="<%= active_path == routes.ui_rangeslider ? 'active' : '' %>">Range Slider</a></li>
                                <li><a href="ui-sweetalerts" class="<%= active_path == routes.ui_sweetalerts ? 'active' : '' %>">Sweet Alerts</a></li>
                                <li><a href="ui-lightbox" class="<%= active_path == routes.ui_lightbox ? 'active' : '' %>">Lightbox</a></li>
                                <li><a href="ui-rating" class="<%= active_path == routes.ui_rating ? 'active' : '' %>">Rating</a></li>
                                <li><a href="ui-scrollbar" class="<%= active_path == routes.ui_scrollbar ? 'active' : '' %>">Scrollbar</a></li>
                            </ul>
                        </li>
                        <li class="submenu">
                            <a href="javascript:void(0);" class="<%= active_path == routes.form_basic_inputs || active_path == routes.form_checkbox_radios || active_path == routes.form_input_groups || active_path == routes.form_grid_gutters || active_path == routes.form_mask || 
                                active_path == routes.form_fileupload || active_path == routes.form_horizontal || active_path == routes.form_vertical || active_path == routes.form_floating_labels  || active_path == routes.form_validation || active_path == routes.form_select2 || 
                                active_path == routes.form_wizard || active_path == routes.form_pickers ? 'active subdrop' : '' %>">
                                <i class="ti ti-forms"></i><span>Forms</span><span class="menu-arrow"></span>
                            </a>
                            <ul>
                                <li class="submenu submenu-two">
                                    <a href="javascript:void(0);" class="<%= active_path == routes.form_basic_inputs || active_path == routes.form_checkbox_radios || active_path == routes.form_input_groups || active_path == routes.form_grid_gutters || active_path == routes.form_mask || 
                                        active_path == routes.form_fileupload ? 'active subdrop' : '' %>">Form Elements<span class="menu-arrow inside-submenu"></span></a>
                                    <ul>
                                        <li><a href="form-basic-inputs" class="<%= active_path == routes.form_basic_inputs ? 'active' : '' %>">Basic Inputs</a></li>
                                        <li><a href="form-checkbox-radios" class="<%= active_path == routes.form_checkbox_radios ? 'active' : '' %>">Checkbox & Radios</a></li>
                                        <li><a href="form-input-groups" class="<%= active_path == routes.form_input_groups ? 'active' : '' %>">Input Groups</a></li>
                                        <li><a href="form-grid-gutters" class="<%= active_path == routes.form_grid_gutters ? 'active' : '' %>">Grid & Gutters</a></li>
                                        <li><a href="form-mask" class="<%= active_path == routes.form_mask ? 'active' : '' %>">Input Masks</a></li>
                                        <li><a href="form-fileupload" class="<%= active_path == routes.form_fileupload ? 'active' : '' %>">File Uploads</a></li>
                                    </ul>
                                </li>
                                <li class="submenu submenu-two">
                                    <a href="javascript:void(0);" class="<%= active_path == routes.form_horizontal || active_path == routes.form_vertical || active_path == routes.form_floating_labels ? 'active subdrop' : '' %>">Layouts<span class="menu-arrow inside-submenu"></span></a>
                                    <ul>
                                        <li><a href="form-horizontal" class="<%= active_path == routes.form_horizontal ? 'active' : '' %>">Horizontal Form</a></li>
                                        <li><a href="form-vertical" class="<%= active_path == routes.form_vertical ? 'active' : '' %>">Vertical Form</a></li>
                                        <li><a href="form-floating-labels" class="<%= active_path == routes.form_floating_labels ? 'active' : '' %>">Floating Labels</a></li>
                                    </ul>
                                </li>
                                <li><a href="form-validation" class="<%= active_path == routes.form_validation ? 'active' : '' %>">Form Validation</a></li>
                                <li><a href="form-select2" class="<%= active_path == routes.form_select2 ? 'active' : '' %>">Select2</a></li>
                                <li><a href="form-wizard" class="<%= active_path == routes.form_wizard ? 'active' : '' %>">Form Wizard</a></li>
                                <li><a href="form-pickers" class="<%= active_path == routes.form_pickers ? 'active' : '' %>">Form Picker</a></li>
                            </ul>
                        </li>
                        <li class="submenu">
                            <a href="javascript:void(0);" class="<%= active_path == routes.tables_basic || active_path == routes.data_tables ? 'active subdrop' : '' %>">
                                <i class="ti ti-table-row"></i><span>Tables</span><span class="menu-arrow"></span>
                            </a>
                            <ul>
                                <li><a href="tables-basic" class="<%= active_path == routes.tables_basic ? 'active' : '' %>">Basic Tables </a></li>
                                <li><a href="data-tables" class="<%= active_path == routes.data_tables ? 'active' : '' %>">Data Table </a></li>
                            </ul>
                        </li>
                        <li class="submenu">
                            <a href="javascript:void(0);" class="<%= active_path == routes.chart_apex || active_path == routes.chart_c3 || active_path == routes.chart_js || active_path == routes.chart_morris || active_path == routes.chart_flot || active_path == routes.chart_peity ? 'active subdrop' : '' %>">
                                <i class="ti ti-chart-donut"></i>
                                <span>Charts</span><span class="menu-arrow"></span>
                            </a>
                            <ul>
                                <li><a href="chart-apex" class="<%= active_path == routes.chart_apex ? 'active' : '' %>">Apex Charts</a></li>
                                <li><a href="chart-c3" class="<%= active_path == routes.chart_c3 ? 'active' : '' %>">Chart C3</a></li>
                                <li><a href="chart-js" class="<%= active_path == routes.chart_js ? 'active' : '' %>">Chart Js</a></li>
                                <li><a href="chart-morris" class="<%= active_path == routes.chart_morris ? 'active' : '' %>">Morris Charts</a></li>
                                <li><a href="chart-flot" class="<%= active_path == routes.chart_flot ? 'active' : '' %>">Flot Charts</a></li>
                                <li><a href="chart-peity" class="<%= active_path == routes.chart_peity ? 'active' : '' %>">Peity Charts</a></li>
                            </ul>
                        </li>
                        <li class="submenu">
                            <a href="javascript:void(0);" class="<%= active_path == routes.icon_fontawesome || active_path == routes.icon_tabler || active_path == routes.icon_bootstrap || active_path == routes.icon_remix || active_path == routes.icon_feather || 
                            active_path == routes.icon_ionic || active_path == routes.icon_material || active_path == routes.icon_pe7 || active_path == routes.icon_simpleline || active_path == routes.icon_themify || active_path == routes.icon_weather || 
                            active_path == routes.icon_typicons || active_path == routes.icon_flag ? 'active subdrop' : '' %>">
                                <i class="ti ti-icons"></i>
                                <span>Icons</span><span class="menu-arrow"></span>
                            </a>
                            <ul>
                                <li><a href="icon-fontawesome" class="<%= active_path == routes.icon_fontawesome ? 'active' : '' %>">Fontawesome Icons</a></li>
                                <li><a href="icon-tabler" class="<%= active_path == routes.icon_tabler ? 'active' : '' %>">Tabler Icons</a></li>
                                <li><a href="icon-bootstrap" class="<%= active_path == routes.icon_bootstrap ? 'active' : '' %>">Bootstrap Icons</a></li>
                                <li><a href="icon-remix" class="<%= active_path == routes.icon_remix ? 'active' : '' %>">Remix Icons</a></li>
                                <li><a href="icon-feather" class="<%= active_path == routes.icon_feather ? 'active' : '' %>">Feather Icons</a></li>
                                <li><a href="icon-ionic" class="<%= active_path == routes.icon_ionic ? 'active' : '' %>">Ionic Icons</a></li>
                                <li><a href="icon-material" class="<%= active_path == routes.icon_material ? 'active' : '' %>">Material Icons</a></li>
                                <li><a href="icon-pe7" class="<%= active_path == routes.icon_pe7 ? 'active' : '' %>">Pe7 Icons</a></li>
                                <li><a href="icon-simpleline" class="<%= active_path == routes.icon_simpleline ? 'active' : '' %>">Simpleline Icons</a></li>
                                <li><a href="icon-themify" class="<%= active_path == routes.icon_themify ? 'active' : '' %>">Themify Icons</a></li>
                                <li><a href="icon-weather" class="<%= active_path == routes.icon_weather ? 'active' : '' %>">Weather Icons</a></li>
                                <li><a href="icon-typicons" class="<%= active_path == routes.icon_typicons ? 'active' : '' %>">Typicons Icons</a></li>
                                <li><a href="icon-flag" class="<%= active_path == routes.icon_flag ? 'active' : '' %>">Flag Icons</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="menu-title"><span>Help</span></li>
                <li>
                    <ul>
                        <li>
                            <a href="javascript:void(0);"><i class="ti ti-file-dots"></i><span>Documentation</span></a>
                        </li>
                        <li>
                            <a href="javascript:void(0);"><i class="ti ti-status-change"></i><span>Changelog</span><span class="badge bg-danger ms-2 badge-md rounded-2 fs-12 fw-medium">v1.6.8</span></a>
                        </li>
                        <li class="submenu">
                            <a href="javascript:void(0);">
                                <i class="ti ti-versions"></i><span>Multi Level</span>
                                <span class="menu-arrow"></span>
                            </a>
                            <ul>
                                <li><a href="javascript:void(0);">Multilevel 1</a></li>
                                <li class="submenu submenu-two">
                                    <a href="javascript:void(0);">Multilevel 2<span
                                            class="menu-arrow inside-submenu"></span></a>
                                    <ul>
                                        <li><a href="javascript:void(0);">Multilevel 2.1</a></li>
                                        <li class="submenu submenu-two submenu-three">
                                            <a href="javascript:void(0);">Multilevel 2.2<span
                                                    class="menu-arrow inside-submenu inside-submenu-two"></span></a>
                                            <ul>
                                                <li><a href="javascript:void(0);">Multilevel 2.2.1</a></li>
                                                <li><a href="javascript:void(0);">Multilevel 2.2.2</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="javascript:void(0);">Multilevel 3</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>                        
            </ul>                   
        </div>
        <div class="sidebar-footer border-top mt-3">
            <div class="trial-item mt-0 p-3 text-center">
                <div class="trial-item-icon rounded-4 mb-3 p-2 text-center shadow-sm d-inline-flex">
                    <img src="./assets/img/icons/sidebar-icon.svg" alt="img">
                </div>
                <div>
                    <h6 class="fs-14 fw-semibold mb-1">Upgrade To Pro</h6>
                    <p class="fs-13 mb-0">Check 1 min video and begin use Preclinic like a pro</p>
                </div>
                <a href="javascript:void(0);" class="close-icon shadow-sm"><i class="ti ti-x"></i></a>
            </div>
        </div>
    </div>
    <% } %>

    <% if(
        active_path === routes.doctor_dashboard
        || active_path === routes.doctors_appointments        
        || active_path === routes.doctors_appointment_details        
        || active_path === routes.doctors_patient_details        
        || active_path === routes.doctors_prescription_details        
        || active_path === routes.online_consultations        
        || active_path === routes.doctors_schedules        
        || active_path === routes.doctors_prescriptions        
        || active_path === routes.doctors_leaves        
        || active_path === routes.doctors_reviews    
        || active_path === routes.doctors_profile_settings
        || active_path === routes.doctors_password_settings
        || active_path === routes.doctors_notification_settings
    ) { %>
    <!-- Sidenav Menu -->
    <div class="sidebar-inner" data-simplebar>                
        <div id="sidebar-menu" class="sidebar-menu">
            <ul>
                <li class="menu-title"><span>Main Menu</span></li>
                <li>
                    <ul>
                        <li class="<%= active_path == routes.doctor_dashboard ? 'active' : '' %>">
                            <a href="doctor-dashboard">
                                <i class="ti ti-layout-dashboard"></i><span>Dashboard</span>
                            </a>
                        </li>
                        <li class="submenu">
                            <a href="javascript:void(0);" class="<%= active_path == routes.doctors_appointments || active_path == routes.online_consultations || active_path == routes.doctors_appointment_details || active_path == routes.doctors_patient_details ? 'active subdrop' : '' %>">
                                <i class="ti ti-calendar-check"></i><span>Appointments</span>
                                <span class="menu-arrow"></span>
                            </a>
                            <ul>
                                <li><a href="doctors-appointments" class="<%= active_path == routes.doctors_appointments || active_path == routes.doctors_appointment_details || active_path == routes.doctors_patient_details ? 'active' : '' %>">Appointments</a></li>
                                <li><a href="online-consultations" class="<%= active_path == routes.online_consultations ? 'active' : '' %>">Online Consultations</a></li>
                            </ul>
                        </li>
                        <li class="<%= active_path == routes.doctors_schedules ? 'active' : '' %>">
                            <a href="doctors-schedules">
                                <i class="ti ti-clock-check"></i><span>My Schedule</span>
                            </a>
                        </li>
                        <li class="<%= active_path == routes.doctors_prescriptions || active_path == routes.doctors_prescription_details ? 'active' : '' %>">
                            <a href="doctors-prescriptions">
                                <i class="ti ti-prescription"></i><span>Prescriptions</span>
                            </a>
                        </li>
                        <li class="<%= active_path == routes.doctors_leaves ? 'active' : '' %>">
                            <a href="doctors-leaves">
                                <i class="ti ti-calendar-x"></i><span>Leave</span>
                            </a>
                        </li>
                        <li class="<%= active_path == routes.doctors_reviews ? 'active' : '' %>">
                            <a href="doctors-reviews">
                                <i class="ti ti-star"></i><span>Reviews</span>
                            </a>
                        </li>
                        <li class="submenu">
                            <a href="javascript:void(0);" class="<%= active_path == routes.doctors_profile_settings || active_path == routes.doctors_password_settings || active_path == routes.doctors_notification_settings ? 'active subdrop' : '' %>">
                                <i class="ti ti-settings"></i><span>Settings</span>
                                <span class="menu-arrow"></span>
                            </a>
                            <ul>
                                <li><a href="doctors-profile-settings" class="<%= active_path == routes.doctors_profile_settings ? 'active' : '' %>">Profile Settings</a></li>
                                <li><a href="doctors-password-settings" class="<%= active_path == routes.doctors_password_settings ? 'active' : '' %>">Change Password</a></li>
                                <li><a href="doctors-notification-settings" class="<%= active_path == routes.doctors_notification_settings ? 'active' : '' %>">Notifications</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                                
            </ul>                   
        </div>
        <div class="sidebar-footer border-top mt-3">
            <div class="trial-item mt-0 p-3 text-center">
                <div class="trial-item-icon rounded-4 mb-3 p-2 text-center shadow-sm d-inline-flex">
                    <img src="./assets/img/icons/sidebar-icon.svg" alt="img">
                </div>
                <div>
                    <h6 class="fs-14 fw-semibold mb-1">Upgrade To Pro</h6>
                    <p class="fs-13 mb-0">Check 1 min video and begin use Preclinic like a pro</p>
                </div>
                <a href="javascript:void(0);" class="close-icon shadow-sm"><i class="ti ti-x"></i></a>
            </div>
        </div>
    </div>
    <% } %>

    <% if(
        active_path === routes.patient_dashboard
        || active_path === routes.patient_appointments 
        || active_path === routes.patient_appointment_details 
        || active_path === routes.patients_doctor_details 
        || active_path === routes.patient_doctors 
        || active_path === routes.patients_doctor_details 
        || active_path === routes.patient_prescriptions 
        || active_path === routes.patient_prescription_details 
        || active_path === routes.patient_invoices 
        || active_path === routes.patient_invoice_details 
        || active_path === routes.patient_profile_settings 
        || active_path === routes.patient_password_settings 
        || active_path === routes.patient_notifications_settings 
    ) { %>
    <!-- Sidenav Menu -->
    <div class="sidebar-inner" data-simplebar>                
        <div id="sidebar-menu" class="sidebar-menu">
            <ul>
                <li class="menu-title"><span>Main Menu</span></li>
                <li>
                    <ul>
                        <li class="<%= active_path == routes.patient_dashboard ? 'active' : '' %>">
                            <a href="patient-dashboard">
                                <i class="ti ti-layout-dashboard"></i><span>Dashboard</span>
                            </a>
                        </li>
                        <li class="<%= active_path == routes.patient_appointments || active_path == routes.patient_appointment_details || active_path == routes.patients_doctor_details ? 'active' : '' %>">
                            <a href="patient-appointments">
                                <i class="ti ti-calendar-check"></i><span>Appointments</span>
                            </a>
                        </li>
                        <li class="<%= active_path == routes.patient_doctors ? 'active' : '' %>">
                            <a href="patient-doctors">
                                <i class="ti ti-stethoscope"></i><span>Doctors</span>
                            </a>
                        </li>
                        <li class="<%= active_path == routes.patient_prescriptions || active_path == routes.patient_prescription_details ? 'active' : '' %>">
                            <a href="patient-prescriptions">
                                <i class="ti ti-prescription"></i><span>Prescriptions</span>
                            </a>
                        </li>
                        <li class="<%= active_path == routes.patient_invoices || active_path == routes.patient_invoice_details ? 'active' : '' %>">
                            <a href="patient-invoices">
                                <i class="ti ti-star"></i><span>Invoice</span>
                            </a>
                        </li>
                        <li class="submenu">
                            <a href="javascript:void(0);" class="<%= active_path == routes.patient_profile_settings || active_path == routes.patient_password_settings || active_path == routes.patient_notifications_settings ? 'active subdrop' : '' %>">
                                <i class="ti ti-settings"></i><span>Settings</span>
                                <span class="menu-arrow"></span>
                            </a>
                            <ul>
                                <li><a href="patient-profile-settings" class="<%= active_path == routes.patient_profile_settings ? 'active' : '' %>">Profile Settings</a></li>
                                <li><a href="patient-password-settings" class="<%= active_path == routes.patient_password_settings ? 'active' : '' %>">Change Password</a></li>
                                <li><a href="patient-notifications-settings" class="<%= active_path == routes.patient_notifications_settings ? 'active' : '' %>">Notifications</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                                
            </ul>                   
        </div>
        <div class="sidebar-footer border-top mt-3">
            <div class="trial-item mt-0 p-3 text-center">
                <div class="trial-item-icon rounded-4 mb-3 p-2 text-center shadow-sm d-inline-flex">
                    <img src="./assets/img/icons/sidebar-icon.svg" alt="img">
                </div>
                <div>
                    <h6 class="fs-14 fw-semibold mb-1">Upgrade To Pro</h6>
                    <p class="fs-13 mb-0">Check 1 min video and begin use Preclinic like a pro</p>
                </div>
                <a href="javascript:void(0);" class="close-icon shadow-sm"><i class="ti ti-x"></i></a>
            </div>
        </div>
    </div>
    <% } %>

</div>